.margin-10 {
    margin: 10px;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.text-field {
    border-radius: 10%;
}

.btns {
    width: 70px;
    height: 37px;
    border-radius: 7px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.btn-gray {
    background-color: #adb5bd;
}

.btn-blue {
    background-color: #219ebc !important;
}

.btn-long {
    width: 300px;
}

.textField-320 {
    width: 320px;
}

.gray { 
    color: #6c6c6e !important;
}

.blue {
    color: #219ebc !important;
}

.blue-br {
    border: 1px solid #219ebc !important;
}

.text-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    flex-direction: column;
}

.text {
    display: inline-block;
    width: 100px;
    color: #adb5bd;
}

.input-read {
    height: 30px;
    border-radius: 3px;
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif !important;
}

.flex {
    display: flex;
}

.textarea {
    border: none;
    resize: none;
    height: 100px;
}

.disabled {
    background-color: white;
}