/* 탑바 */
.app-bar {
    background-color: #f0c040 !important;
    height: 160px !important;
    position: relative !important; 
}

.child-logo { 
    position: absolute !important;
    top: 18% !important;
}

.child-pages {
    position: absolute !important;
    top: 50% !important;
    left: 10%;
}

.child-settings {
    position: absolute !important;
    top: 50% !important;
    right: 0% !important;
    transform: translate(0%, -50%) !important;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo-text:hover {
    color: #ffffff !important;
}

.page-button {
    font-size: 21px !important;
    /* border: 1px solid #ffffff !important;
    border-radius: 50%; */
}

.setting-text {
    font-size: 20px !important;
}

/* 동물 리스트 */
.cards-container {
    display: flex;
    margin: 20px auto;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}

.card {
    flex-basis: 300px;
}

.card-media {
    height: 200px; /* 사진 높이 */ 
    object-fit: contain !important;
}

.notice-date {
    font-size: 15px;
}

.card-content {
    height: 250px; /* 카드 전체 길이 */
}

.happen-place {
    font-size: 15px;
}