.cards-container {
    display: flex;
    margin: 20px auto;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}

.card {
    flex-basis: 250px; 
}

.card-media {
    height: 200px; /* 사진 높이 */ 
    object-fit: contain !important;
}

.card-content {
    height: 250px; /* 카드 전체 길이 */
}

.care-addr {
    margin: 10px 0 0 0;
}